
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My movies - Add Movie</title>
  </head>
  <body>
  <h1>Add new movie</h1>
    <form method="post" action="/movies/create">
      <table>
        <tr>
          <td><label for="title">Title: </label></td>
          <td><input type="text" name="title"></td>
        </tr>

        <tr>
          <td><label for="director">Director: </label></td>
          <td><input type="text" name="director"></td>
        </tr>

        <tr>
          <td><label for="year">Year published: </label></td>
          <td><input type="text" name="year"></td>
        </tr>

        <tr>
          <td><input type="submit"></td>
        </tr>
      </table>
    </form>
    <a href="/movies"> Back to Index</a>
  </body>
</html>